<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <!-- Logo -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="{{ path_for('home') }}">Destructo</a>
    </div>

    <!-- collapsable menu -->
    <div class="collapse navbar-collapse" id="topNavBar">
      <ul class="nav navbar-nav">
        <li class="">
          <a href="https://www.fieldprotocol.com/">
            <i class="fa fa-quote-right"></i>&nbsp; Field Protocol
          </a>
        </li>
        <li class="">
          <a href="https://wiki.fieldprotocol.com/">
            <i class="fa fa-book"></i>&nbsp; Wiki
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="{{ path_for('home') }}">
            <i class="fa fa-home"></i>&nbsp; Home
          </a>
        </li>
        <li class="">
          <a href="{{ path_for('message.new') }}">
            <i class="fa fa-plus"></i>&nbsp; New Message
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i>&nbsp; Bucky
          </a>
          <ul class="dropdown-menu">
            <li><a href="">
              <i class="fa fa-circle-o"></i>&nbsp; Profile
            </a></li>
            <li><a href="">
              <i class="fa fa-sign-out"></i>&nbsp; Logout
            </a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
