<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<Title>Home</title>
	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.min.css" />
	<!-- javascripts -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
</head>
<body>
	{% block content %}{% endblock %}
</body>
</html>