<p>You have a self destructing message from Destructo!</p><br />

<p><a href="{{ base_url() }}{{ path_for('message.view', {'hash': hash}) }}">{{ base_url() }}{{ path_for('show', {'hash': hash}) }}</a></p><br />

<p>Thanks,</p>
<p>Destructo - by Field Protocol</p>
